.delete-acc-btn {
    margin-top: 25px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}


.delete-acc-btn:hover {
    background-color: #d9534f;
}

.form button {
    padding: 10px;
    background-color: #D3D3D3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.form button[type="button"][type="cancel"] {
    background-color: #D3D3D3;
}

.form button[type="delete"]:hover {
    background-color: #d9534f;
}

.form button[type="cancel"]:hover {
    background-color: #218838;
}

.popup-actions {
    display: flex;
    gap: 20px;
    justify-content: center;
}