table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: #f4f4f4;
}

td:last-child {
    width: 300px;
}

tbody tr:nth-child(odd) {
    background-color: #D3D3D3;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

thead th {
    background-color: #F2A2B1;
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: #D8698E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

button[type="table-button"] {
    margin-right: 30px;
    background-color: transparent;
    color: #48494c;
}
